<nav class="navbar navbar-inverse bg-inverse">
    <div class="navbar-nav">
        <ul class="hrizontalList">
            <li>
                <a class="navbar-brand" href="#">Navbar</a></li>
            <li routerLinkActive="active current">
                <a class="nav-item nav-link  wh" routerLink="/Home">Sign Up</a>
            </li>
            <li routerLinkActive="active current">
                <a class="nav-item nav-link wh " routerLink="/DataBase">Data Base</a>
            </li>

        </ul>
    </div>
</nav>