<div class="container">

    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>National_ID</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of profile; let i = index">
                <th scope="row">{{person.id}}</th>
                <td>{{person.Name}}</td>
                <td>{{person.Email}}</td>
                <td>{{person.National_ID}}</td>
                <td><a [routerLink]="['/profile-details', person.id]">Details</a></td>
            </tr>
        </tbody>
    </table>

    <button type="button" (click)="refresh()" class="btn btn-secondary btn-lg btn-block">Refresh</button>


</div>