<p class="container " style="background-color:#D7DBDD  ;border-bottom: 1px solid black; ">
    # WELCOME to our SITE #
</p>


<div class="container all">
    <div class="row">
        <div class="col-md-12 col-sm-6">
            <h1 style="background-color:#17A589;padding-bottom: 20px;padding-top: 10px;">please fill the information below : </h1>

            <form #form="ngForm">
                <div class="form-group">
                    <label class="labels " for="name">Name:</label>
                    <input type="text" id="name" name="name" placeholder="Enter Your Name" required pattern="[a-zA-Z ]*" ngModel name="name" class="form-control" #name="ngModel">

                    <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-info">
                        <div [hidden]="!name.errors.required">
                            Name is required.
                        </div>

                        <div *ngIf="name.errors.pattern">
                            Name accept only characters.

                        </div>

                    </div>
                </div>
                <!-- email-->
                <div class="form-group">
                    <label class="labels " for="email">E-mail:</label>
                    <input type="email" id="email" name="email" placeholder="Enter Your E-mail   Hint: marina@example.com" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" ngModel name="email" class="form-control" #email="ngModel">

                    <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-info">
                        <div [hidden]="!email.errors.required">
                            E-mail is required field.
                        </div>

                        <div *ngIf="email.errors.pattern">
                            ivalid E-mail please enter a valid one.
                        </div>

                    </div>
                </div>
                <!-- mobile number -->
                <div class="form-group">
                    <label class="labels " for="mobile">Mobile Number</label>
                    <input type="text" id="mobile" name="mobile" placeholder="Enter Your Mobile Number" required maxlength="12" pattern="" ngModel name="mobile" class="form-control" #mobile="ngModel">

                    <div *ngIf="mobile.errors && (mobile.dirty || mobile.touched)" class="alert alert-info">
                        <div [hidden]="!mobile.errors.required">
                            Mobile number is required field.
                        </div>

                        <!-- <div *ngIf="mobile.errors.pattern">
            invalid.
            </div>-->
                    </div>
                </div>
                <!-- national id -->
                <div class="form-group">
                    <label class="labels " for="nationalid">NationalID</label>
                    <input type="number" id="nationalid" name="nationalid" placeholder="Enter Your NationalID Number" required ngModel name="nationalid" class="form-control" #nationalID="ngModel">

                    <div *ngIf="nationalID.errors && (nationalID.dirty || nationalID.touched)" class="alert alert-info">
                        <div [hidden]="!nationalID.errors.required">
                            NationalID is a required field.
                        </div>
                    </div>
                </div>
                <!--university -->
                <div class="form-group">
                    <label class="labels " for="university">University</label>
                    <input type="text" id="university" name="university" placeholder="Enter Your University" required pattern="[a-zA-Z ]*" ngModel name="university" class="form-control" #University="ngModel">

                    <div *ngIf="University.errors && (University.dirty || University.touched)" class="alert alert-info">
                        <div [hidden]="!University.errors.required">
                            University is a required field.
                        </div>
                        <div *ngIf="University.errors.pattern">
                            invalid, you must enter characters only.
                        </div>
                    </div>
                </div>
                <!-- faculty -->
                <div class="form-group">
                    <label class="labels " for="faculty">Faculty</label>
                    <input type="text" id="faculty" name="faculty" placeholder="Enter Your Faculty" required pattern="[a-zA-Z ]*" ngModel name="faculty" class="form-control" #faculty="ngModel">

                    <div *ngIf="faculty.errors && (faculty.dirty || faculty.touched)" class="alert alert-info">
                        <div [hidden]="!faculty.errors.required">
                            Faculty is a required field.
                        </div>
                        <div *ngIf="faculty.errors.pattern">
                            invalid, you must enter characters only.
                        </div>
                    </div>
                </div>
                <!--major -->
                <div class="form-group">
                    <label class="labels " for="major">Major</label>
                    <input type="text" id="major" placeholder="major" required pattern="[a-zA-Z ]*" ngModel name="major" class="form-control" #major="ngModel">

                    <div *ngIf="major.errors && (major.dirty || major.touched)" class="alert alert-info">
                        <div [hidden]="!major.errors.required">
                            Major is a required field.
                        </div>
                        <div *ngIf="major.errors.pattern">

                            invalid, you must enter characters only.

                        </div>
                    </div>

                </div>
                <!-- year-->
                <div class="form-group">
                    <label class="labels " for="year">Expected Graduation Year</label>
                    <input type="number" id="year" placeholder="Example  2017" required maxlength="4" ngModel name="year" class="form-control" #year="ngModel">

                    <div *ngIf="year.errors && (year.dirty || year.touched)" class="alert alert-info">
                        <div [hidden]="!year.errors.required">
                            Graduation Year is a required field.
                        </div>
                        <div [hidden]="!year.errors.maxlength">
                            max digits is only 4.
                        </div>

                    </div>
                </div>
                <!--profile picture-->
                <div class="form-group">
                    <div class="pro">
                        <i class="fa fa-user icon" aria-hidden="true"></i>
                        <label class="labels " for="pro_pic">  Profile Picture</label>
                        <br>
                        <button type="button" class="btn btn-secondary">Upload</button>
                    </div>
                </div>

                <div class="button">
                    <button class="btn btn-primary " [disabled]="!form.valid">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>